<nav class="pt-2 flex justify-between">
  <div>
    <p-button
      label="Home"
      [link]="true"
      [size]="'small'"
      [routerLink]="''"
    />
    <p-button
      label="Calendar"
      [link]="true"
      [size]="'small'"
      [routerLink]="'calendar'"
    />
    <p-button
      label="Budget"
      [link]="true"
      [size]="'small'"
      [routerLink]="'budget'"
    />

    <daisy-theme [(theme)]="theme"></daisy-theme>
  </div>

  <div>
    @switch (authState()) {
      @case ('authenticated') {
        artesgo
        <p-button
          label="Logout"
          (click)="logout()"
        />
      }
      @case ('unauthenticated') {
        <p-button
          label="Login"
          (click)="login()"
        />
      }
      @case ('authorized') {
        artesgo
        <p-button
          label="Logout"
          (click)="logout()"
        />
        <p-button
          label="Dashboard"
          (click)="goToDashboard()"
        />
      }
    }
  </div>
</nav>
