<ul>
  @for (
    menuItem of menu;
    track menuItem.value;
    let i = $index, last = $last, first = $first, even = $even, odd = $odd
  ) {
    <li [class.even]="even">
      <a [routerLink]="menuItem.value">{{ menuItem.label }}</a>
    </li>
  } @empty {
    <li>No menu items</li>
  }
</ul>

<ul>
  @if (menu.length > 0) {
    @for (menuItem of menu; track menuItem) {
      <li>
        <a [routerLink]="menuItem.value">{{ menuItem.label }}</a>
      </li>
    }
  } @else {
    <li>No menu items</li>
  }
</ul>
